@font-face {
    font-family: "satoshi";
    src: url('/fonts/Satoshi-Black.otf');
}

@font-face{
    font-family: 'hug';
    src: url('/fonts/SVN-Aire\ Pro\ Regular.otf');
}

@font-face {
    font-family: "satoshi Medium";
    src: url('/fonts/Satoshi-Light.otf');
}

@font-face {
    font-family: "satoshi light";
    src: url('/fonts/Satoshi-Light.otf');
}

body {
    overflow-x: hidden;
    background: linear-gradient(to bottom, #F2F3FE 0%, #DBDCEF 100%);
}


.info {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
}

.banner-satoshi-medium {
    font-family: "satoshi Medium", sans-serif;
}

.banner-satoshi-font {
    font-family: "satoshi", sans-serif;
}

.brand-text{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: 28282A;
}

.hug-font{
    font-family: 'hug';
}


.banner-satoshiLight-font {
    font-family: "satoshi light", sans-serif;
}

.last-content{
    height: 60%; 
    width: 100%;
}

.dot::after {
    content: "•";
    margin: 0 28px;
}

.dot:last-child::after {
    content: "";
}

.cart, .wishlist {
    transition: transform 0.1s ease-in;
}

.cart:hover, .wishlist:hover {
    transform: translateY(-2px);
}

.sidebar-items {
    transition: transform 0.1s ease-in;
}

.sidebar-items:hover {
    transform: translateY(-2px);
    border: 1px solid black;
}

.banner-head {
    font-size: 10rem;
    padding: 0px 4rem;
}

.airpod-img {
    width: 32%;
    height: 89%;
}

.shadow-bottom{
    filter: drop-shadow(-10px 8px 5px rgba(0, 0, 0, 0.2));
}

.banner-div {
    display: grid;
    grid-template-columns: 0.9fr 1.2fr 0.6fr;
}

.each-banner-div {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1), 0px 8px 30px rgba(0, 0, 0, 0.05);
    height: 100%;
}

/* .fill-content {
    height: -webkit-fill-available;
    height: fill-available;
    height: 100%;
    box-sizing: border-box;
} */

.content-div {
    height: 90%;
    width: 90%;
    padding: 15px;
}

.s-content {
    position: relative;
    clip-path: polygon(0 0, calc(100% - 100px) 0, 100% 100px, 100% 100%, 0 100%);
}


.parent-sub {
    height: 4rem;
}

.sec-section-flex1{
    width: 50%;
}

.fade-left {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
    -webkit-mask-image: linear-gradient(to left, black 50%, transparent);
    mask-image: linear-gradient(to left, black 50%, transparent);
    padding-right: 0.5rem;
}
.fade-top {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
    -webkit-mask-image: linear-gradient(to top, black 50%, transparent);
    mask-image: linear-gradient(to top, black 50%, transparent);
    padding-bottom: 0.5rem;
}


.icon-fill {
    padding: 0px 32px;
}

.flowing-text {
    white-space: nowrap;
    font-size: 14vw;
    color: #FFFFFF;
    animation: flow 15s linear infinite;
    z-index: 0;
    opacity: 8%;
}

@keyframes flow {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1290px) {
    .info {
        grid-template-columns: 3fr;
    }
}

@media (max-width: 1330px) {
    .info {
        grid-template-columns: repeat(2, 1fr);
    }
    .last-content{
        width: 100%;
        padding: 12px;
    }
    .sec-section-flex1{
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .banner-div {
        grid-template-columns: repeat(2, 1fr);
    }

    .info {
        grid-template-columns:1fr;
    }

    .last-content{
        height: 100%; 
        width: 100%;
    }

    .banner-head {
        font-size: 7rem;
    }

    .banner {
        padding: 7rem 2rem;
    }

    .content-div {
        height: 50%;
        width: 90%;
        padding: 30px;
    }
}

@media (max-width: 620px) {
    .banner-div, .info {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
    

    .banner-head {
        font-size: 4.8rem;
    }

    .banner {
        padding: 7rem 2rem;
    }

    .content-div, .s-content, .icon-fill {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }
}

@media (max-width: 600px) {
    .banner-head {
        font-size: 4rem;
    }
}

@media (max-width: 360px) {
    .banner-head {
        font-size: 3rem;
        padding: 0 1rem;
    }

    .banner-div, .info {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .each-banner-div, .parent-sub, .fill-content {
        padding: 0.5rem;
        box-sizing: border-box;
    }

    .image-layout {
        width: 50%;
        display: grid;
        place-items: center;
    }
}
